* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

li {
  list-style: none;
}

header nav.nav-top {
  height: 30px;
  background-color: #0282f9;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
}
header nav.nav-top .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav.nav-top .container span {
  margin-right: 35px;
  text-transform: uppercase;
}
header nav.nav-top .container select {
  background-color: #0282f9;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
header .nav-bot {
  margin: 15px 0;
}
header .nav-bot ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-bot ul li img {
  height: 60px;
}
header .nav-bot ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #4c5757;
  font-weight: bold;
}
header .nav-bot ul li .fa-caret-down {
  margin-left: 5px;
  color: #0282f9;
}
header .nav-bot ul #search {
  border-bottom: 2px solid #0282f9;
}
header .nav-bot ul #search input {
  width: 110px;
  text-align: right;
}
header .nav-bot ul #search .fa-search {
  margin-left: 5px;
}
header .jumbo {
  height: 275px;
  background-image: url(../../../images/jumbotron.jpg);
  background-size: cover;
}

main {
  background-color: #1C1C1C;
}
main h2 {
  text-transform: uppercase;
  background-color: #0282f9;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  margin-top: -24px;
  margin-left: 10%;
  margin-bottom: 65px;
}
main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .container .card {
  display: flex;
  flex-direction: column;
  width: calc(100% / 6 - 20px);
  margin: 15px 10px;
}
main .container .card img {
  height: 100%;
  width: 100%;
}
main .container .card p {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 10px;
}
main .container .btn {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #0282f9;
  padding: 10px 40px;
  text-decoration: none;
  margin: 25px auto;
}
main .main-bot {
  background-color: #0282f9;
  height: 150px;
  display: flex;
  align-items: center;
}
main .main-bot .merch {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
main .main-bot .merch ul {
  display: flex;
  align-items: center;
}
main .main-bot .merch ul li {
  list-style: none;
  margin: 0 25px;
}
main .main-bot .merch ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
main .main-bot .merch ul li a img {
  max-width: 55px;
  max-height: 50px;
  margin-right: 10px;
}
main .main-bot .merch ul li a svg {
  width: 55px;
  margin-right: 10px;
}

footer {
  background-color: #303030;
  background-image: url(../../../images/footer-bg.jpg);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
footer .container {
  width: 80%;
  margin: 0 auto;
  background-image: url(../../../images/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
}
footer .container p {
  width: 55%;
  color: #959595;
  font-size: 13px;
  padding-bottom: 15px;
}
footer .container p .blue a {
  color: #0282f9;
}
footer .container a {
  text-decoration: none;
  color: #959595;
}
footer .container .liste {
  display: flex;
  padding: 30px 0;
}
footer .container .liste ul {
  padding-right: 30px;
}
footer .container .liste ul li {
  margin: 8px 0;
  font-size: 13px;
}
footer .container .liste ul .list-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  margin: 10px 0;
}
footer .container .liste ul .list-title a {
  color: #FFF;
}
footer .footer-bot {
  background-color: #303030;
}
footer .footer-bot a {
  text-decoration: none;
  color: #959595;
}
footer .footer-bot .container-bot {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
footer .footer-bot .container-bot .btn {
  font-size: 22px;
  padding: 10px 30px;
  border: 1px solid #0282f9;
  text-transform: uppercase;
  color: #FFF;
}
footer .footer-bot .container-bot .social {
  display: flex;
}
footer .footer-bot .container-bot .social p {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0282f9;
  margin-right: 20px;
}
footer .footer-bot .container-bot .social ul li {
  display: inline-block;
  margin: 0 10px;
}
footer .footer-bot .container-bot .social ul li a i {
  font-size: 25px;
}