footer{
  height: 500px;
  background-color: #303030;
  background-image: url(../../../images/footer-bg.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  .container{
    width: 80%;
    margin: 0 auto;
    
    p{
      width: 55%;
      color: #959595;
      font-size: 13px;
      .blue{
        a{
          color: #0282f9;
        }
      }
    }
    a{
      text-decoration: none;
      color: #959595
    }
    .liste{
      @include flex;
      padding: 30px 0;
      background-image: url(../../../images/dc-logo-bg.png);
      background-repeat: no-repeat;
      background-position: right center;
      ul{
        padding-right: 30px;
        li{
          margin: 8px 0;
          font-size: 13px;
        }
        .list-title{
          text-transform: uppercase;
          font-weight: bold;
          font-size: 26px;
          margin: 10px 0;
          a{
            color: #FFF;
          }
        }
      }
    }
  }
}